<!DOCTYPE html>
<html>

<head>
	<title>Pheonix-App</title>
</head>

<body>

	<div>
		<p>Thanks {{WHATEVER}}</p>
	</div>

	<p>It's {{WARMNESS}}C in {{THEPLACE}}, and the sky is {{ATMOSPHERE}}</p>
    
<!---        <form method="post" action="/weather">
    			<label for="city">Give me weather in:</label>
    			<input type="city" id="city" name="city" required="required">
    			<input type="submit" value="Submit" id="submit-button">
    		</form>
    	</div> --->

	<div>
		<form action="/go" >
		  <button type="submit">Submit</button>
		</form>
	</div>

</body>


</html>