<!DOCTYPE html>
<html>

<head>
	<title>Pheonix-App</title>
</head>

<body>
	<div>
		<h1>Pheonix</h1>

		<h2>The adventure decision game</h2>
	</div>

	<div>
		<p>To start the game, please enter your name</p>
	</div>

	<div>
		<form method='post' action="/submit"><br>
		  	<input type="name" name="name" id="name"><br>
			<input type= "submit" value="Submit">
		</form>
	</div>
	
	<div>
		<p>Goodluck, it is time to begin the game. Press 'Go' to proceed.</p>

		<form action="/go" >
		  <button type="submit">Submit</button>
		</form>
	</div>

</body>


</html>